@import url(/Users/caslan/Desktop/OhMyFood/sass/vendors/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  font-family: 'Roboto', sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 62px;
  width: 100%;
  background-color: #fff;
}

.header__logo {
  width: 165px;
}

.location_pick {
  background-color: #eaeaea;
  height: 50px;
  -webkit-box-shadow: inset 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #353535;
}

.location_pick span {
  font-weight: 400;
}

.location_pick i {
  padding-right: 18px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 290px;
  background-color: #f6f6f6;
  text-align: center;
}

.hero__description {
  margin: 20px 0 35px 0;
}

.btn {
  display: block;
  background: #ad5fdc;
  background: -webkit-gradient(linear, left bottom, left top, from(#ad5fdc), to(#ee74da));
  background: linear-gradient(0deg, #ad5fdc 0%, #ee74da 100%);
  color: #fff;
  padding: 15px 20px;
  border-radius: 25px;
}
